* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#burger {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    width: 32px;
    height: 32px;
    display: grid;
    grid-template-rows: 4px 4px 4px;
    align-content: space-between;
    cursor: pointer;

    div {
        background-color: #eee;
    }
}

#checkbox {
    display: none;

    &:checked~#menu {
        left: 0;
    }
    &:checked~#burger div {
        transition:.2s;
        &:first-child {
            transform: translateY(14px) rotate(45deg);
        }
        &:last-child {
            transform: translateY(-14px) rotate(-45deg);
        }
        &:nth-child(2){
            transform: translateX(100vw);
        }
    }
}

#menu {
    position: fixed;
    left: 100vw;
    top: 0;
    background-color: orangered;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-content: space-around;
    transition: .4s;

    a {
        color: white;
        text-decoration: none;

        &:active {
            color: black;
        }
    }
}


main {
    display: grid;
    grid-gap: 1px;

    section {
        min-height: 100vh;
        color: white;
        padding: 40px;
    }

    #section1 {
        background-color: gray;
    }

    #section2 {
        background-color: lightgray;
    }

    #section3 {
        background-color: black;
    }

}